/* font setup */

.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.text-style{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
/* header styles */

.header{
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}
/* banner-styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 200px;
}
.banner-content{
    width: 650px;
    margin: 30px;
}
.banner-welcome{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner-title{
    color: 181818;
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    color: #757575;
    font-weight: 400;
    font-size: 20px;

}
/* section style */
main{
    max-width: 1140px;
    margin-top: 130px;
    margin: 130px auto;
    height: 550px;
    padding: 40px 40px;
    border-radius: 10px;
}
.about{
    max-width: 580px;
    height: 220px;
    background-color: white;
    padding: 100px 120px;
    margin-top: 100px;
    text-align: center;
    border: 2px solid;
    margin-left: 200px;
    margin-bottom: 100px;
}
.info{
    margin-top: -60px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.section-bg{
    background-color: #FFF8F3;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
}

.item-description{
    font-weight: bold;
}
/* skills styles */

.skill{
margin-top: 250px;
margin-left: 140px;
max-width: 930px;

}

.skills-title{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
.skill-container{
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.skill-title{
    font-weight: bold;
    font-size: 18px;
    color: #181818;
    text-align: start;
}
.skill-description{
    margin-top: 30px;
    color: #757575;
}
.skills{
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
/* resume-section-styles */
.resume{
    margin-top: 130px;
    margin-left: 150px;
}
.resume-container{
    display: flex;
    gap: 30px;
}
.education-section-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.education-heading{
    font-size: 24px;
}
.education-title{
    font-size: 20px;
}
.education-subtitle{
    font-weight: 400;
}

.experience-summary{
    margin-left: 100px;
}
.experience-heading{
    font-size: 24px;
}
.experience-title{
    font-size: 20px;
}
.experience-subtitle{
    font-weight: 400;
    color: #757575;
}
.experience-details .education-description{
    color: #757575;
}
.download{
    text-align: center;
    margin-top: 50px;
}

/* footer styles */

.footer{
    background-color: #FFF8F3;
    margin-top: 130px;
    padding: 100px 140px;
    display: flex;
    gap: 100px;
}
.footer-title{
    font-size: 28px;
}
.footer-description{
    color: #757575;
}
.footer-social{
   width: 50%
}
footer input[type="text"], input[type="email"]{
    height: 60px;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
}
textarea{
    width: 450px;
    height: 150px;
    width: 100%;
    display: block;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}